<html>
    <head>
    <style>
      p{
          color: white;
          font-size:30px;
          font-weight: bold;
          margin-left: 435px;
          margin-top: 30px

      }
      img{
          margin-left:380px
      }
    </style>
    </head>
    <body>
    <a style="background-color:lightslategray;" class="btn" asp-controller="Home" asp-action="Index">Back To Home</a>
        <p>
            Order Placed<span style="color:springgreen">Successfully!!!</span>

        </p>
             <img src="~/bgimage/clipp-delivery-kradac.gif" />

           
    </body>
</html>