@using EasyShopify.Utilities
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] EasyShopify</title>
    <link rel="icon" href="~/bgimage/icon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EasyShopify.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background: transparent;">
            <div class="container-fluid">
                
                <span style="color:peru; font-size:40px; margin-left:95px"><i class='bx bxl-shopify'></i></span>
                <a style="color:white; margin-left:" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <span style="color:gray; font-weight: bold">Easy</span><span style="color:forestgreen; font-weight:bold;font-size:25px">Shopify</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                            <a style="color:white;font-weight:bold; letter-spacing:1px" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                         @*    <li class="nav-item">
                            <a style="color:white;font-weight:bold; letter-spacing:1px" class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li> *@
                              @if (User.IsInRole(SD.Role_Admin))
                               {
                                    <li class="nav-item">
                                <a style="color:white;font-weight:bold; letter-spacing:1px" class="nav-link" asp-area="" asp-controller="Product" asp-action="Retrive">Product</a>
                                    </li>
                               }
                               @if (User.IsInRole(SD.Role_Customer))
                               {
                                    <li class="nav-item">
                                <a style="color:white;font-weight:bold; letter-spacing:1px" class="nav-link text-white" asp-area="" asp-controller="Cart" asp-action="Index"><i class="bi bi-cart3"></i></a>
                                    </li>
                               }
                        </ul>
                    
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
